.reaction-animate {
  animation: pop 200ms ease-out;
}

@keyframes pop {
  0% {
    transform: scale(1) rotate(0deg);
  }
  30% {
    transform: scale(1.4) rotate(5deg);
  }
  60% {
    transform: scale(0.9) rotate(-5deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
